html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, Verdana, sans;
}

brick-card {
  padding: 1rem;
  background: #f0f0f0;
  overflow-y: auto;
}

header {
  padding: 1rem;
  background: #ccc;
  display: flex;
}

h1 {
  margin: 0 0 1rem 0;
}

h2 {
  margin:  0;
  flex-grow: 1;
}

#install {
  color: #fff;
  background: #686;
  border: 0px solid #040;
  border-bottom-width: 3px;
  padding: 0.2rem;
  line-height: 1;
  font-size: 80%;
}

#install:hover {
  background: orange;
}

.hidden {
  display: none;
}

brick-tabbar {
  border-top: none;
}

brick-tabbar brick-tabbar-tab {
  color: #fff;
  background: linear-gradient(180deg, #666 0%, #444 100%);
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  line-height: auto;
  transition: background 1s;
}

brick-tabbar brick-tabbar-tab:hover {
  background: linear-gradient(180deg, #999 0%, #444 100%);
}

brick-tabbar brick-tabbar-tab + brick-tabbar-tab { 
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

brick-tabbar brick-tabbar-tab[selected] {
  background: #f0f0f0;
  background: linear-gradient(180deg, #f0f0f0 0%, #ccc 100%);
  box-shadow: 0px 0px 3rem rgba(0, 0, 0, 0.85);
  z-index: 10;
}

brick-tabbar .selected-indicator {
  background-color: transparent;
}
